/* 
/* Modify the background color 
          
        .navbar-custom { 
            background-color:#011936; 
        } 
        /* Modify brand and text color */ 
          
        /* .navbar-custom .navbar-brand, 
        .navbar-custom .navbar-text { 
            color: white; 
        } 

.navbar-nav{
  color: white;
}

.nav-item .nav-link{
  color: white;
} */

nav {
  display: flex;
  flex-direction: column;
  background-color: #011936;
  color: white;
}

.intro{
  background-color: #C0DFA1;
  border: 2px solid #C0DFA1;
  padding: 40px;
  border-radius: 1.5rem;
  text-align:center;
  margin: 0px 10%;
}

.about{
  margin-left: 20px;
  margin-right: 20px
}


