* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #011936;
    color: white;
    justify-content: space-between;
}

h1 {
    margin: 0px 10%;
}

.disclaimer {
    margin: 0px 10%;
}

form {
    padding: 3rem;
    background-color: #ececec75;
    border-radius: 1rem;
    margin: 0px 10%;
}

.form-i {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
}

label {
    width: 10rem;
}

.form-control {
    border: none;
    border-radius: 1rem;
}

.found-div {
    margin: 0px 10%;
    padding: 3rem;
    background-color: #ececec75;
    border-radius: 1rem;
}

.found {
    color:green;
}



.btn-primary {
    background-color: #C0DFA1;
    border: none;
    color: black;
}

.btn-primary:active {
    border-color: #C0DFA1;
    background-color: #C0DFA1;
    border: none;
    outline: none;
    box-shadow: none;
}

.btn-primary:hover {
    background-color: #C0DFA1;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn:active {
    outline: none;
    box-shadow: none;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn-primary:focus {
    background-color: #C0DFA1;
    border: #C0DFA1;
    box-shadow: #C0DFA1;
    outline:#C0DFA1;
}